html *{
    box-sizing: border-box;
}

*:before,
*:after{
    box-sizing: border-box;
}

body{
    font: 20px "times new roman", times, serif;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

#wrapper{
    display: flex;
    flex-direction: column;
}

#row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

nav{
    background-color: aqua;
}

main{
    background-color: lightgoldenrodyellow;
}

aside{
    background-color: plum;
}


nav, main, aside{
    width: 30%;
}


aside{
    order: -2;
}


@media screen and (max-width: 500px) {
    nav, main, aside{
        width: 25%;
        margin-right: 5%
    }
    
    
}

/*/
nav, aside{ 
    flex: 1 25%
    }

main { 
    flex: 2 50%
}
*/

/*

header{
    background-color: lightblue;
    padding: 30px;
    
}

nav{
    width: 200px;
    height: 500px;
    float: left;
    
}

main{
    width: 300px;
    height: 500px;
    position: absolute;
    left: 200px;
}

aside{
    width: 200px;
    height: 500px;
    float: right;
}

footer{ 
position: relative;
    
    
}




.row{
    overflow: hidden;
}

@media screen and (min-width: 500px) {
    
#page-nav, 
main, 
#page-asisde{
    float: left;
}

#page-nav, 
#page-aside{
    width: 25%;
}

main{
    width: 50%;
}
*/


}