

html {
    box-sizing: border-box;
        }
*:before, *:after{
    box-sizing: border-box;
        }

#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
    border: solid;
    border-color: white;
    border-width: thick;
    margin: 10px, 0px, 10px, 0px;
}

.links {
    margin: 8px;
}

body {
    background-color: Black;
    text-align: center;
    font-family: Courier;
    font-size: 15px;
    margin: 20px;
    
        }
        
h1 {
    color:white; 
    font-family: "Lucida Sans Typewriter";
    padding: 8px;
        }

h2 {
    color: white;
    font-family: "Lucida Typewriter";
        }

p {
    color: yellow;

}
        
a:visited {
    color:lightgoldenrodyellow;
        }
        
a {
    color:gainsboro;
        }


    
.image {
	margin: 20px;
}

.image img, 
.image picture{
	display: block;
	width: 100%;
	height: auto;
    align-content: center;
}

.video {
	display: block;
	width: 100%;
	height: auto;
}


/* --------------------------------------------------------
*
*
*medium screen
*
*----------------------------------------------------------
*/

@media screen and (min-width: 600px) {
    
            
h1 {
    color:white; 
    font-family: "Lucida Sans Typewriter";
    padding: 8px;
        }
    
    body {
        font-size: 16px;
    }
    
    
.image {
	margin: 20px;
    align-content: center;
}

.image img, 
.image picture{
	display: block;
	width: 90%;
	height: auto;
    align-content: center;
}

.video {
	display: block;
	width: 90%;
	height: auto;
}

    
}


/* -----------------------------------------------------------------
*
*
*large screen
*
*-------------------------------------------------------------------
*/


@media screen and (min-width: 900px) {

        
h1 {
    color:white; 
    font-family: "Lucida Sans Typewriter";
    padding: 8px;
        }
    
body {
        font-size: 1em;
    }
    
     
.image {
	margin: 20px;
}

.image img, 
.image picture{
	display: block;
	width: 75%;
	height: auto;
    align-content: center;
}

.video {
	display: block;
	width: 75%;
	height: auto;
}